<html ng-app="StudentApp">
<head>
	<title>First Example</title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/owner/owner-list.controller.js"></script>
		<script type="text/javascript" src="js/services/owner/owner.service.js"></script>
</head>
<body>
	<div ng-controller="OwnerListController as ownerListCtrl">
		<button ng-click="ownerListCtrl.load();">Load</button>
			<table>
				<tr ng-repeat="owner in ownerListCtrl.owners">
					<td>{{owner.id}}</td>
					<td>{{owner.firstName}}</td>
					<td>{{owner.lastName}}</td>
					<td>{{owner.city}}</td>
					<td>{{owner.address}}</td>
					<td>{{owner.telephone}}</td>
				</tr>
				<tr><td colspan="2" ng-if="ownerListCtrl.errorMessage!=''">{{ownerListCtrl.errorMessage}}
				</td></tr>
			</table>
	</div>
</body>
</html>