<html ng-app="UserApp">
  <head>
    <script src="js/angular.js"></script>
    <!-- module files -->
    <script src="js/app.js"></script>
    <!-- controller files -->
    <script src="js/forgot-password.controller.js"></script>
    <!-- sevice files -->
    <script src="js/user.service.js"></script>
  </head>
  <body>
     <div ng-controller="ForgotPasswordController as forgotPasswordCtrl">
        <form>
          User name <input type="text" ng-model="loginCtrl.user.username"/><br/>
          <button ng-click="forgotPasswordCtrl.fotgotPassword()">Login</button>
        </form>
     </div>
  </body>
</html>
