<html ng-app="StudentApp">
<head>
	<title>First Example</title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/owner/owner-list.controller.js"></script>
		<script type="text/javascript" src="js/services/owner/owner.service.js"></script>
</head>
<body>
	<div ng-controller="OwnerListController as ownerListCtrl">
		<button ng-click="ownerListCtrl.load();">Load</button>
			<select>
				<option ng-repeat="owner in ownerListCtrl.owners">
					{{owner.firstName}}
				</option>
				<option ng-if="ownerListCtrl.errorMessage!=''">{{ownerListCtrl.errorMessage}}</option>
			</select>
	</div>
</body>
</html>