<html>
    <script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/sample.js"></script>
  <body>
    <div ng-app="userApp">
      <div ng-controller="UserCtrl">
        <table class="table table-bordered">
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th></th>
            <th ng-if="users.length > 0"></th>
          </thead>
          <tbody >
            <tr ng-repeat="user in users | orderBy:'address'">
              <td>
                {{user.name}}
              </td>
              <td>
                {{user.address}}
              </td>
              <td>
                {{user.phone_number}}
              </td>              
            </tr>		  	
            <tr>
              <td>
              <input type="text" class="form-control" ng-model="newUser.name" />
              </td>
              <td>
              <input type="text" class="form-control" ng-model="newUser.address" />
              </td>
              <td>
              <input type="text" class="form-control" ng-model="newUser.phone_number" />
              </td>
              <td>
              <input type="button" class="btn btn-primary" ng-click="addUser();" value="Add"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
